* {
  padding: 0%;
  margin: 0%;
  color: black;
}
.con{
  display: flex;
  justify-content: center;
  align-items: center;
}
.red {
  background-color: black;
  color: white;
}
.inpdiv {
  background-color: white;
  height: 52vh;
  font-family: Arial, Helvetica, sans-serif;
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-top: 2vh;
}
.add{
  font-size: 5vh;
  font-weight: 700;
}
.inp{
border-radius:4px ;
 background-color: whitesmoke;
 border:1px solid ;
 border-color: gray;
 padding:2px;
}
.table-container {
  margin: 20px;
  padding: 10px;
  border: 1px solid whitesmoke;
  background-color: white;
  border-radius: 12px;
  font-family: Arial, Helvetica, sans-serif;
  height: 60vh;
  width: 35vw;
  overflow-y:auto ;
}

.basic-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  
}

.basic-table th,
.basic-table td {
  border: 1px solid #ddd;
  padding: 8px;
 
}

.basic-table th {
  background-color: #f4f4f4;
  text-align: left;
  border-radius: 3px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.modal-actions {
  margin-top: 10px;
}

.cancel-btn {
  background: gray;
  color: white;
  padding: 8px 12px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
}

.delete-btn {
  background: red;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

.btn{
border-radius: 12px;
padding: 2vh;
border: 0px solid;
transition: 1s;
margin-top: 12px;
}
.btn:hover{
 background-color: black;
  color: white;
}
@media (max-width: 576px) {
  .con{
    display: flex;
    flex-direction: column;
    
  }
  .inpdiv {
    background-color: white;
    font-size: 2.5vh;
    height: 48vh;
    width: 39vw;
    margin-top: 2vh;
  }
  .add {
    font-size: 4vh;
    font-weight: 600;
  }
  .basic-table{
    width: 100%;
    height: 20vh;
  }
  .table-container{
    width: 83%;
    height: 100%;
  }
  .basic-table{
    width: 90%;
  }
}

@media (max-width: 376px) {
  .con{
    display: flex;
    flex-direction: column;
  }
  .basic-table{
    width: 100%;
    height: 20vh;
  }
  .table-container{
    width: 83%;
    height: 100%;
  }
  .basic-table{
    width: 90%;
  }
  .inpdiv {
    background-color: white;
    font-size: 2.5vh;
    height: 48vh;
    width: 69vw;
    margin-top: 3vh;
  }
 .inp{
  width: 40vw;
 }
  .add {
    font-size: 4vh;
    font-weight: 600;
  }
}
